#back{
background-image:url(matrix3.jpg);
opacity:1;}

#wrapper{
margin: 0 auto;
background-color:#000;
opacity:.8;
width:670px;
height:600px;
-webkit-border-radius:30px;
}
.div1{
float:left;width:240px; height:100px;
}
.div2{
float:left;width:220px; height:100px;
}  
.div3{
float:left;width:210px; height:100px;
}  
.div4{
opacity:.9
}
.image{
width:150px;
height:100px;
} 
.obj1{
color:#abc;
font-familty:biondi;
}

	